{
	http_port 8080
	https_port 8443
	# debug

	order authenticate before respond
	order authorize before basicauth

	security {
		oauth identity provider facebook {
			realm facebook
			driver facebook
			client_id 38409328409
			client_secret 11899bfcd5745a8ed20235c65638f311
		}

		authentication portal myportal {
			crypto default token lifetime 3600
			crypto key sign-verify {env.JWT_SHARED_KEY}
			enable identity provider facebook
			cookie domain myfiosgateway.com
			ui {
				links {
					"My Identity" "/whoami" icon "las la-user"
				}
			}

			transform user {
				match realm facebook
				action add role authp/user
				ui link "File Server" https://assetq.myfiosgateway.com:8443/ icon "las la-star"
			}

			transform user {
				match realm facebook
				match email greenpau@contoso.com
				action add role authp/admin
			}
		}

		authorization policy mypolicy {
			set auth url https://auth.myfiosgateway.com:8443/oauth2/facebook
			crypto key verify {env.JWT_SHARED_KEY}
			allow roles authp/admin authp/user
			validate bearer header
			inject headers with claims
		}
	}
}

(tls_config) {
	tls {$HOME}/.local/caddy/server.crt {$HOME}/.local/caddy/server.key
}

auth.myfiosgateway.com {
	import tls_config
	authenticate with myportal
}

assetq.myfiosgateway.com {
	import tls_config
	authorize with mypolicy
	root * {env.HOME}/www
	file_server
}
