{
	http_port 8080
	https_port 8443
	# debug

	security {
		authentication portal myportal {
			crypto default token lifetime 3600
			crypto key sign-verify {env.JWT_SHARED_KEY}
			backends {
				gitlab_oauth2_backend {
					method oauth2
					realm gitlab
					provider gitlab
					domain_name gitlab.contoso.com
					client_id 522a2f714a1e978c52e80909e543e2a51
					client_secret d562a48c29a686b343978edbc8ac3d3
					scopes openid email profile
					user_group_filters barfoo
					user_group_filters ^a
				}
			}
			cookie domain myfiosgateway.com
			ui {
				links {
					"My Identity" "/whoami" icon "las la-user"
				}
			}

			transform user {
				match realm gitlab
				action add role authp/user
				ui link "File Server" https://assetq.myfiosgateway.com:8443/ icon "las la-star"
			}

			transform user {
				match realm gitlab
				match email greenpau@contoso.com
				action add role authp/admin
			}
		}

		authorization policy mypolicy {
			set auth url https://auth.myfiosgateway.com:8443/oauth2/gitlab
			crypto key verify {env.JWT_SHARED_KEY}
			allow roles authp/admin authp/user
			validate bearer header
			inject headers with claims
		}
	}
}

(tls_config) {
    tls {env.HOME}/.local/caddy/server.crt {env.HOME}/.local/caddy/server.key
}

auth.myfiosgateway.com {
	import tls_config
	authenticate with myportal
}

assetq.myfiosgateway.com {
	import tls_config
	authorize with mypolicy
	root * {env.HOME}/www
	file_server
}
