{
	order authenticate before respond
	order authorize before basicauth

	security {
		oauth identity provider github {env.GITHUB_CLIENT_ID} {env.GITHUB_CLIENT_SECRET}

		authentication portal authz_proxy_portal {
			crypto key sign-verify {env.JWT_SHARED_KEY}
			enable identity provider github
			transform user {
				match realm github
				action add role authp/user
				ui link "My Website" / icon "las la-star"
			}
		}

		authorization policy default_authz_policy {
			# disable auth redirect
			set auth url /authzproxy/oauth2/github/
			crypto key verify {env.JWT_SHARED_KEY}
			allow roles authp/user authp/admin
		}
	}
}

myapp.myfiosgateway.com {
	route /authzproxy* {
		authenticate with authz_proxy_portal
	}

	route {
		authorize with default_authz_policy
		respond "myapp is running"
	}
}
