{
	http_port 8080
	https_port 8443
	debug

	order authenticate before respond
	order authorize before basicauth

	security {
		oauth identity provider cognito-us-east-1 {
			driver cognito
			realm cognito-us-east-1
			client_id {env.COGNITO_US_EAST_1_CLIENT_ID}
			client_secret {env.COGNITO_US_EAST_1_CLIENT_SECRET}
			user_pool_id {env.COGNITO_US_EAST_1_POOL_ID}
			region us-east-1
			icon "AWS Cognito US" "aws"
		}

		authentication portal myportal {
			crypto default token lifetime 3600
			crypto key sign-verify {env.JWT_SHARED_KEY}
			enable identity provider cognito-us-east-1
			cookie domain myfiosgateway.com
			ui {
				links {
					"My Website" https://assetq.myfiosgateway.com:8443/ icon "las la-star"
					"My Identity" "/whoami" icon "las la-user"
				}
			}
			transform user {
				match origin keycloak
				action add role authp/user
			}
		}

		authorization policy mypolicy {
			set auth url https://auth.myfiosgateway.com:8443/
			allow roles authp/admin authp/user
			crypto key verify {env.JWT_SHARED_KEY}
		}
	}
}

(tls_config) {
	tls {$HOME}/.local/tls/myfiosgateway/server.crt {$HOME}/.local/tls/myfiosgateway/server.key
}

auth.myfiosgateway.com {
	import tls_config
	authenticate with myportal
}

assetq.myfiosgateway.com {
	import tls_config
	authorize with mypolicy
	respond "assetq is running"
}
