{
	http_port 8080
	https_port 8443
	# debug

	security {
		authentication portal myportal {
			crypto default token lifetime 3600
			crypto key sign-verify {env.JWT_SHARED_KEY}
			# backend google {env.GOOGLE_CLIENT_ID} {env.GOOGLE_CLIENT_SECRET}
			backends {
				google_oauth2_backend {
					method oauth2
					realm google
					provider google
					client_id {env.GOOGLE_CLIENT_ID}.apps.googleusercontent.com
					client_secret {env.GOOGLE_CLIENT_SECRET}
					scopes openid email profile
				}
			}
			cookie domain myfiosgateway.com
			ui {
				links {
					"My Identity" "/whoami" icon "las la-user"
				}
			}

			transform user {
				match realm google
				action add role authp/user
				ui link "File Server" https://assetq.myfiosgateway.com:8443/ icon "las la-star"
			}

			transform user {
				match realm google
				match email greenpau@contoso.com
				action add role authp/admin
			}
		}

		authorization policy mypolicy {
			set auth url https://auth.myfiosgateway.com:8443/oauth2/google
			crypto key verify {env.JWT_SHARED_KEY}
			allow roles authp/admin authp/user
			validate bearer header
			inject headers with claims
		}
	}
}

(tls_config) {
    tls {env.HOME}/.local/caddy/server.crt {env.HOME}/.local/caddy/server.key
}

auth.myfiosgateway.com {
	import tls_config
	authenticate with myportal
}

assetq.myfiosgateway.com {
	import tls_config
	authorize with mypolicy
	root * {env.HOME}/www
	file_server
}
