{
	http_port 8080
	https_port 8443
	# debug

	security {
		authentication portal myportal {
			crypto default token lifetime 3600
			crypto key sign-verify {env.JWT_SHARED_KEY}
			backends {
				okta_oauth2_backend {
					method oauth2
					realm okta
					provider okta
					domain_name {env.OKTA_DOMAIN}
					client_id {env.OKTA_CLIENT_ID}
					client_secret {env.OKTA_CLIENT_SECRET}
					server_id default
					scopes openid email profile groups
				}
			}
			cookie domain myfiosgateway.com
			ui {
				links {
					"My Identity" "/whoami" icon "las la-user"
				}
			}

			transform user {
				match realm okta
				action add role authp/user
				ui link "File Server" https://assetq.myfiosgateway.com:8443/ icon "las la-star"
			}

			transform user {
				match realm okta
				match email greenpau@contoso.com
				action add role authp/admin
			}
		}

		authorization policy mypolicy {
			set auth url https://auth.myfiosgateway.com:8443/oauth2/okta
			crypto key verify {env.JWT_SHARED_KEY}
			allow roles authp/admin authp/user
			validate bearer header
			inject headers with claims
		}
	}

	(tls_config) {
		tls /home/greenpau/.local/tls/myfiosgateway/server.crt /home/greenpau/.local/tls/myfiosgateway/server.key
	}

	auth.myfiosgateway.com {
		import tls_config
		authenticate with myportal
	}

	assetq.myfiosgateway.com {
		import tls_config
		authorize with mypolicy
		root * {env.HOME}/www
		file_server
	}
